body {
    background-color: #ECEEF1;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

#head {
    background-color: rebeccapurple;
    /* width: 100%; */
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 40px;
    padding: 10px 30px;
}

#sign-in-btn {
    border: 1px solid #000;
    font-size: 13.5px;
    padding: 0 20px;
    height: 34px;
    width: 109px;
    background-color: #0077c5;
    color: #fff;
    border-radius: 5px;
}
